.mainnav{
    margin-top: 55px;
    background: darkgreen;
    color: #fff;
    font-weight: bold;
    text-transform:uppercase;
    letter-spacing: .05em;
    /* position: fixed;
    z-index: 999; */
    width: 100%;
}
.mainnav ul {
    display: block;
    margin: 0;
    text-align: center;
}

.mainnav ul li {
    margin: 0;
    list-style: none;
    display: inline;
}

.mainnav ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    /* padding: .9em 1.5em .8em 1.5em; */
    padding: 20px 20px;
}

.mainnav ul li a:hover {
    color: #000;
    background: #aaa;
}